{% load static %}
<!-- myapp/templates/payment.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <a href="#" class="logo"><img src="{% static 'LOGO1.jpg' %}" alt=""></a>
        <ul class="navbar">
            <li><a href="{% url 'home' %}">HOME</a></li>
            <li><a href="{% url 'about' %}">ABOUT US</a></li>
            <div class="dropdown">
                <button class="dropbtn">PRODUCTS<i class='bx bx-chevron-down'></i></button>
                <div class="dropdown-content">
                    <a href="{% url 'dress' %}">DRESS</a>
                    <a href="{% url 'skirts' %}">SKIRTS</a>
                    <a href="{% url 'pants' %}">PANTS</a>
                </div>
            </div>
        </ul>
        <form class="inlines">
            <div class="searchbar">
                <i class="bx bx-search"></i>
                <input class="input-field" type="text">
            </div>
        </form>
        <div class="nav-icon">
            <a href="{% url 'fav' %}"><i class="bx bx-heart"></i> </a>
            <a href="{% url 'cart' %}"><i class="bx bx-cart"></i> </a>
            <a href="{% url 'account' %}"><i class="bx bx-user-circle"></i> </a>
        </div>
    </header>
    <section class="main">
        <div class="form_box1">
            <div class="one"><h1>PAYMENT</h1></div>
            <form action="#">
                <div class="input_box1">
                    <form action="/action_page.php">
                        <label for="fname">Contact</label>
                        <input type="text" placeholder="9800000000">
                        <label for="fname">Ship To</label>
                        <input type="text" placeholder="XYZ, Kathmandu">
                    </form>
                </div>
                <h1> Payment Methods </h1>
                <button class="btn button8"></button>
                <h2>Bank/Esewa</h2>
                <p>Make your payment directly into our bank account or E-sewa. Please use your ‘Order Number’ or ‘Name’ as the payment reference. <br>Please upload your Payment transfer image (Screenshot/Pdf) to confirm your order.</p>
                <div class="table">
                    <div class="input_box">
                        <table>
                            <tr>
                                <th>Type</th>
                                <th>Account Name</th>
                                <th>Account Number</th>
                            </tr>
                            <tr>
                                <td>ABC Bank</td>
                                <td>Arthemis Pvt. Ltd.</td>
                                <td>01-234567</td>
                            </tr>
                            <tr>
                                <td>ABC Bank</td>
                                <td>Arthemis Pvt. Ltd.</td>
                                <td>01-234567</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <input type="text">
                <button class="btn button8"></button>
                <h2>Cash on Delivery</h2>
                <a href="{% url 'success' %}"><button type="submit" class="login_btn">Confirm</button></a>
            </form>
        </div>
    </section>
    <section class="footer">
        <div class="foot">
            <h4>CONNECT WITH US ON</h4>
            <div class="s-icon">
                <a href=""><i class='bx bxl-facebook-circle'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
                <a href=""><i class='bx bxl-gmail'></i></a>
            </div>
            <p>Telephone-01-4200011, 01-4230001</p>
        </div>
    </section>
</body>

</html>
